#footer {
  border-top: 1px solid #d7d7d7;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  margin-left: 70px;
  margin-top: 5rem;
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .grid-full {
    float: left;
    width: 100%;
  }
  .left {
    float: left;
    .left-footer-item {
      color: #909090;
    }
  }
  .right {
    float: right;
    .right-footer-item + .right-footer-item::before {
      color: #922c88;
    }
    .right-footer-item {
      padding-left: 0.5rem;
      a {
        color: #6f4e37;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.right-footer-item + .right-footer-item::before {
  content: "|";
  display: inline-block;
  padding-right: 0.5rem;
}
// @media only screen and (max-width: 1000px) {
//   #footer {
//     padding: 2.2rem 3rem;
//   }
// }
