#side-bar {
  height: 100%;
  width: 127px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #270602;
  .menu-sidebar {
    padding: 8rem 2rem;
  }
  .menu-sidebar li {
    margin-top: 20px;
    color: #b7592a;
  }
}
@media only screen and (max-width: 1199px) {
  #side-bar {
    display: none;
  }
}
