#side-bar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: #63170e;
  overflow-y: visible;
  transition: all 0.5s ease;
  .menu-sidebar {
    margin-top: 7rem;
    .menu-item {
      padding: 0 22px;
      margin-top: 8px;
      .menu-item-link {
        position: relative;
        color: #b7592a;
        padding: 8px;
        text-align: center;
        border-radius: 12px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #88180b;
          box-shadow: 0px 1px 3px 2px #501710;
        }
        &:hover > .menu-item-name {
          transform: translateX(10px);
          opacity: 1;
        }
        .menu-item-name {
          white-space: nowrap;
          position: absolute;
          z-index: 99999;
          left: 42px;
          top: 50%;
          margin-top: -11.5px;
          transition: all 0.3s ease-in-out 0s;
          transform: translateX(22px);
          opacity: 0;
          p {
            padding: 0 12px;
            border-radius: 200px;
            background-color: #c5c247;
            color: #fff;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
    }
  }
}

// #side-bar.hidden {
//   transform: translateX(-80px);
// }

#side-bar.delayed {
  transform: translateX(0px);
}
@media only screen and (max-width: 1100px) {
  #side-bar {
    transform: translateX(-80px) !important;
  }
}
