#top-menu {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  padding: 20px 20px;
  z-index: 1030;
  position: fixed;
  width: 100%;
  top: 0;
  .grid-full {
    float: left;
    width: 100%;
  }
  .row-footer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
  }
  .app-name {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }
  .left-navbar {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    li {
      display: inline;
    }
    li:nth-child(2) {
      input {
        border: initial;
        background: #ececec75;
        outline: initial !important;
        padding: 0.5rem 1rem;
        line-height: 1.75;
        font-size: 0.8rem;
        width: 100%;
        color: #3a3a3a;
        border-radius: 2.1rem;
      }
      position: relative;
      .search-icon {
        position: absolute;
        right: 8px;
        top: 8px;
        svg {
          color: #d7d7d7;
          font-size: 17px;
          font-weight: lighter;
          &:hover {
            color: #e2a5a5;
            cursor: pointer;
          }
        }
      }
    }
    li:nth-child(1) button {
      padding: 0.45rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #3a3a3a;
      border-radius: 20px;
      outline: none;
      background-color: transparent;
      text-transform: uppercase;
      transition: all 0.5s;
      border: none;
      cursor: pointer;
    }
    .languages-switch {
      position: relative;
      cursor: pointer;
      .languages {
        border-radius: 0.75rem;
        top: 50px;
        right: 0px;
        background: #fff;
        min-width: 10rem;
        padding: 0.5rem 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 200;
        display: none;
        li {
          padding: 0.5rem 1.25rem;
          color: #3a3a3a;
          display: block;
          text-align: left;
          white-space: nowrap;
          background-color: initial;
          font-weight: 400;
          cursor: pointer;
          outline: none;
          &:hover {
            background-color: #f8f8f8;
            color: #3a3a3a;
          }
          &:focus {
            background-color: #6f4e37 !important;
            color: #fff;
          }
        }
      }
      &:focus-within > .languages {
        display: block;
      }
    }
    li:nth-child(3) button {
      padding: 0.6rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #8f8f8f;
      border-radius: 20px;
      outline: none;
      background: #f8f8f8;
      text-transform: uppercase;
      border: initial;
      cursor: pointer;
      &:focus {
        color: #212529;
        background-color: #dae0e5;
        border-color: #d3d9df;
      }
    }

    li:nth-child(4) button {
      padding: 0.45rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #6f4e37;
      border-radius: 20px;
      outline: none;
      background-color: #fff;
      text-transform: uppercase;
      transition: all 0.5s;
      border: 1px solid #6f4e37;
      cursor: pointer;
      &:hover {
        background-color: #6f4e37;
        color: #fff;
      }
    }
  }
  .right-navbar {
    float: right;
    display: flex;
    align-items: center;
    .switch-btn {
      position: relative;
      outline: none;
      background: #d7d7d7;
      width: 34px;
      height: 19px;
      border-radius: 20px 20px;
      cursor: pointer;
      border: 1px solid #d7d7d7;
      transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
      .switch-inside {
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        width: 12px;
        height: 12px;
        transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
      }
    }

    .notification {
      cursor: pointer;
      position: relative;
      outline: none;
      .noti-icon {
        font-size: 16px;
        border-color: #3a3a3a;
        color: #8f8f8f;
        vertical-align: initial;
      }
      .noti-quantities {
        font-size: 9px;
        color: #6f4e37;
        border: 1px solid #6f4e37;
        border-radius: 10px;
        position: absolute;
        width: 18px;
        height: 15px;
        text-align: center;
        font-weight: 700;
        top: -4px;
        right: -4px;
        line-height: 14px;
      }
      .noti-list {
        position: absolute;
        width: 260px;
        padding: 20px 29px;
        height: 280px;
        top: 50px;
        right: 0px;
        border-radius: 0.75rem;
        font-size: 0.8rem;
        background: #fff;
        z-index: 200;
        border: 1px solid rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in;
        display: none;
        .scrollbar-container {
          margin-right: -15px;
          padding-right: 15px;
        }
        .noti-ul {
          height: 100%;
          overflow: hidden;
          &::-webkit-scrollbar {
            width: 4px !important;
            opacity: 0.5 !important;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent !important;
          }
          &::-webkit-scrollbar-thumb {
            background: #e6e1e1 !important;
            border-radius: 12px !important;
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: #999 !important;
          }
          &:hover {
            overflow-y: overlay;
          }
          li {
            display: flex;
            text-align: left;
            justify-content: flex-start;
            border-bottom: 1px solid #eee;
            padding: 17px 4px;
          }
          .noti-content {
            p:nth-child(1) {
              font-weight: 500;
              font-size: 0.85rem;
              line-height: 1.3rem;
              font-family: "Nunito", sans-serif;
            }
            .date {
              color: #ccc;
            }
          }
          .padding {
            padding-left: 7px;
            padding-right: 28px;
          }
          .noti-img {
            padding: 0px 40px 38px 0;
            img {
              height: 40px;
              font-size: 1rem;
              object-fit: cover;
              width: unset !important;
              max-width: unset;
              border-radius: 50% !important;
            }
          }
        }
      }
      &:focus-within > .noti-list {
        display: block;
      }
    }
    li {
      padding: 8px 9px;
    }
    .profile {
      padding-left: 30px;
      padding-top: 4px;
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;
      position: relative;
      outline: none;
      button {
        background-color: transparent;
        border: transparent;
        outline: none;
        padding: 0 !important;
        display: inline-block;
      }
      .account-name {
        color: #878787;
        font-size: 15px;
        padding-top: 12px;
      }
      .acc-img {
        padding-left: 3px;
        img {
          border-radius: 50%;
          width: 35px;
          height: 35px;
        }
      }
      .profile-dropdown {
        border-radius: 0.75rem;
        top: 50px;
        right: 5px;
        background: #fff;
        min-width: 10rem;
        padding: 0.5rem 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 200;
        display: none;
        text-align: left;
        li {
          padding: 0.5rem 1.25rem;
          color: #878787;
          display: block;
          text-align: left;
          white-space: nowrap;
          background-color: initial;
          font-weight: 400;
          cursor: pointer;
          outline: none;
          font-size: 15px;
          width: 100%;
          &:hover {
            background-color: #f8f8f8;
          }
          &:focus {
            background-color: #6f4e37 !important;
          }
        }
        .line {
          border-top: 1px solid #e9ecef;
          overflow: hidden;
          height: 0;
          border-color: #d7d7d7;
          padding: 4px 0;
          margin-top: 7px;
          &:hover {
            background-color: inherit;
          }
        }
      }
      &:focus-within > .profile-dropdown {
        display: block;
      }
    }
    .icons-menu-dropdown {
      position: relative;
      cursor: pointer;
      outline: none;
      .pages-list {
        position: absolute;
        display: none;
        width: 240px;
        padding: 1.5rem !important;
        height: 280px;
        top: 50px;
        right: 0px;
        border-radius: 0.75rem;
        background: #fff;
        z-index: 200;
        border: 1px solid rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in;
        .icon-menu-item {
          width: 90px;
          display: inline-block;
          text-align: center;
          margin-bottom: 1.7rem;
          color: rgba(58, 58, 58, 0.8);
          .icon-item {
            width: 100%;
            font-size: 28px;
          }
        }
      }
      &:focus-within > .pages-list {
        display: block;
      }
    }
    .full-screen-btn {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  // .profile {
  //   // float: right;
  //   img {
  //     border-radius: 50%;
  //     width: 30px;
  //     height: 30px;
  //     .account-name {
  //       font-size: 15px;
  //       color: #3a3a3a;
  //     }
  //   }
  // }
  li {
    padding-left: 10px;
  }
}

.MuiFilledInput-underline:before {
  content: "";
  width: 0 !important;
}
@media only screen and (max-width: 991px) {
  #top-menu {
    .left-navbar {
      li:nth-child(4) button {
        display: none;
      }
    }
    .right-navbar {
      .profile {
        .account-name {
          display: none;
        }
      }
    }
  }
}
