#top-menu {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  padding: 20px 20px;
  z-index: 1030;
  position: fixed;
  width: 100%;
  top: 0;
  .grid-full {
    float: left;
    width: 100%;
  }
  .row-footer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
  }
  .app-name {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }
  .left-navbar {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    li {
      display: inline;
    }
    li:nth-child(2) {
      input {
        border: initial;
        background: #e4e0e0;
        outline: medium none invert !important;
        outline: initial !important;
        padding: 0.5rem 1rem;
        line-height: 1.75;
        font-size: 0.8rem;
        color: #3a3a3a;
        border-radius: 12px;
      }
      position: relative;
      .search-icon {
        position: absolute;
        right: 8px;
        top: 8px;
        svg {
          color: #cac0c0;
          font-size: 17px;
          font-weight: lighter;
          &:hover {
            color: #e2a5a5;
            cursor: pointer;
          }
        }
      }
    }
    li:nth-child(1) button {
      padding: 0.45rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #3a3a3a;
      border-radius: 20px;
      outline: none;
      background-color: transparent;
      text-transform: uppercase;
      transition: all 0.5s;
      border: none;
      cursor: pointer;
    }

    li:nth-child(3) button {
      padding: 0.45rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #3a3a3a;
      border-radius: 20px;
      outline: none;
      background-color: #e4e0e0;
      text-transform: uppercase;
      transition: all 0.5s cubic-bezier(0.26, 0.06, 0.43, 0.15);
      border: 1px solid #e4e0e0;
      cursor: pointer;
      &:focus {
        background-color: #928c87;
        transition: all 0.5s;
        color: #fff;
        border-color: #928c87;
      }
    }

    li:nth-child(4) button {
      padding: 0.45rem 1rem;
      font-size: 0.8rem;
      line-height: 1.5;
      color: #6f4e37;
      border-radius: 20px;
      outline: none;
      background-color: #fff;
      text-transform: uppercase;
      transition: all 0.5s;
      border: 1px solid #6f4e37;
      cursor: pointer;
      &:hover {
        background-color: #6f4e37;
        color: #fff;
      }
    }

    .language-choose-form {
      margin-left: 10px;
      margin-right: 10px;
      .language-choose {
        border-radius: 12px;
        background-color: #e4e0e0;
        border-bottom: none !important;
        padding: -27px -3px;
        width: 70px;
        height: 40px;
      }
    }
  }
  .right-navbar {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    .notification {
      cursor: pointer;
      .noti-icon {
        font-size: 20px;
        border-color: #3a3a3a;
        margin-left: 20px;
        color: #9c8989;
      }
      position: relative;
      .noti-quantities {
        position: absolute;
        top: -4px;
        right: -14px;
        width: 16px;
        border: 1px solid #e22323;
        outline: none;
        background-color: #e22323;
        padding: 7px auto;
        padding: 1px 0;
        border-radius: 1rem;
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
      }
    }
    li {
      display: inline;
      text-align: center;
    }
    .profile {
      padding-left: 30px;
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;
      button {
        background-color: transparent;
        border: transparent;
        outline: none;
        padding: 0 !important;
        display: inline-block;
      }
      .account-name {
        color: #878787;
        font-size: 15px;
        padding-top: 7px;
      }
      .acc-img {
        padding-left: 3px;
        img {
          border-radius: 50%;
          width: 35px;
          height: 35px;
        }
      }
    }
    .list-page {
      margin-left: 30px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  // .profile {
  //   // float: right;
  //   img {
  //     border-radius: 50%;
  //     width: 30px;
  //     height: 30px;
  //     .account-name {
  //       font-size: 15px;
  //       color: #3a3a3a;
  //     }
  //   }
  // }
  li {
    padding-left: 10px;
  }
}

.MuiFilledInput-underline:before {
  content: "";
  width: 0 !important;
}
@media only screen and (max-width: 991px) {
  #top-menu {
    .left-navbar {
      li:nth-child(4) button {
        display: none;
      }
    }
    .right-navbar {
      .profile {
        .account-name {
          display: none;
        }
      }
    }
  }
}
