#vertical-sidebar {
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-right: 1px solid #f1e8e8;
  box-shadow: 0px 5px 5px #737272;
  border-radius: 0 0.75rem 0.75rem 0;
  overflow: auto;
  float: left;
  position: fixed;
  top: 71px;
  z-index: 300;
  bottom: 0;
  width: 120px;
  .tabs {
    li {
      padding: 50px 0;
      text-align: center;
      border-bottom: 1px solid #f1dcdc;
      position: relative;
      cursor: pointer;
      &:focus-visible {
        color: #6f4e37;
      }
    }
  }
  .sub-menu {
    position: fixed;
    width: 230px;
    left: 124px;
    height: 100vh;
    z-index: 300;
    top: 90px;
    background-color: #fff;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #737272;
    li {
      padding: 16px 20px;
    }
  }
}
@media (max-width: 1439px) {
  #vertical-sidebar {
    width: 110px;
  }
}
