.main {
  .LoginForm {
    // width: 484px;
    max-width: 450px;
    border: 1px solid #fff;
    padding: 64px;
    border-radius: 12px;
    background-color: #fff;
    margin: 0 auto;
  }
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  .login {
    text-align: center;
  }
  .form-input {
    transition: all 0.3s;
    label {
      display: block;
      transform: translateY(-40px) translateX(10px);
      transform-origin: 0 0;
      text-align: left;
      transition: all 0.3s;
      width: 80px;
      background-color: #fff;
      z-index: 1;
      color: #a58d65;
      font-size: 1rem;
      cursor: text;
    }
    .input {
      width: 100%;
      height: 54px;
      border-radius: 5px;
      border: 1px solid rgb(240, 240, 240);
      padding: 15px;
      &:focus {
        // background-color: yellow;
        border: 1px solid #eaa82b;
        outline: none;
      }
      &:focus + label,
      &:not(:placeholder-shown) + label {
        transform: translateY(-68px) translateX(10px) scale(0.8);
      }
      &::placeholder {
        color: transparent;
      }
    }
  }
  .check-remember {
    display: flex;
    align-items: center;
    margin-top: 30px;
    label {
      margin: 0;
      margin-left: 1rem;
    }
  }

  .title-container {
    .btn {
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      button {
        font-family: "Rajdhani", Sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-radius: 12px 12px 12px 12px;
        width: auto;
        text-align: center;
        padding: 16px 26px;
      }
      .download {
        background-color: #3e3f5e;
        color: #fff;
      }
      .download:hover {
        background-color: #de910d;
        transition: all 0.2s;
      }
      .about-features {
        background-color: #00000000;
        color: #fff;
        border: 1px solid #fff;
      }
      .about-features:hover {
        background-color: #3e3f5e;
        transition: all 0.4s;
      }
    }
    h2 {
      color: #dc7718;
      font-family: "Titillium Web", Sans-serif;
      font-size: 104px;
      font-weight: 900;
      text-transform: uppercase;
    }
    h4 {
      color: #dc7718;
      font-family: "Rajdhani", Sans-serif;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  Button {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1199px) {
  .main {
    padding: 0 6rem;
  }
  // .LoginForm {
  //   width: 80% !important;
  //   max-width: 484px;
  // }
  .title-container {
    .btn {
      flex-direction: column !important;
      display: flex;
      justify-content: center !important;
      margin-bottom: 30px;
    }
  }
}
